%body
  .flash-box
    .notice グループを作成しました
  .wrapper
    .chat-side
      .side-header
        .side-header__box
          %p.side-header__box__user-name akane
          %ul.side-header__box__menu
            %li.side-header__box__menu__new-group
              -# TODO: 新規グループページ作成後、リンク訂正。
              %link_to{http: "groups/new"}
                = fa_icon 'edit'
            %li.side-header__box__menu__edit-user
              -# TODO: アカウント編集ページ作成後、リンク訂正。
              %link_to{http: "/users/705/edit"}
                = fa_icon 'cog' 
      .groups
        -# TODO:グループ作成後、訂正。
        %link_to{http: "/groups/1341/messages"}
          .group
            %p.group__group-name test
            %p.group__latest-message まだメッセージがありません
        -# TODO:グループ作成後、訂正  
        %link_to{http: "/groups/1237/messages"}
          .group
            %p.group__group-name テストテスト
            %p.group__latest-message テスト
        -# TODO:グループ作成後、訂正
        %link_to{http: "/groups/1318/messages"}
          .group
            %p.group__group-name test
            %p.group__latest-message まだメッセージがありません
        -# TODO:グループ作成後、訂正
        %link_to{http: "/groups/1317/messages"}
          .group
            %p.group__group-name sass
            %p.group__latest-message hofgggggg
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group{"data-group_id" => "1344"}
          柴犬の集い
        %ul.main-header__left-box__member-list
          Member：
          %li.main-header__left-box__member-list__member akane
      -# TODO:グループ作成後、訂正
      %link_to{http: "/groups/1344/edit"}
        .main-header__edit-btn Edit
    .messages
      .message{"data-message_id" => "600"}
        .message__upper-info
          %p.message__upper-info__talker 茶柴
          %p.message__upper-info__date 2019/09/12(Thu) 21:34:55
        %p.message__text 散歩したい散歩したい散歩したい
      .message{"data-message_id" => "2542"}
        .message__upper-info
          %p.message__upper-info__talker 飼い主
          %p.message__upper-info__date 2019/09/12(Thu) 21:45：56
        %p.message__text 散歩は明日な

    .form
      %form
        %input.form__message{name: "message[content]", placeholder:  "type a message", type: "text"}
        .form__box
          %label.input-box__image
            = fa_icon "image"
            %input.hidden{type: "file"}
        %input.form__submit{ type: "submit", value: "Send"}
