%body
  .flash-box
    .notice グループを作成しました
  .wrapper
    .chat-side
      .side-header
        .side-header__box
          %p.side-header__box__user-name akane
          %ul.side-header__box__menu
            %li.side-header__box__menu__new-group
              %a{:href => "/groups/new"}
                %i.fa.fa-edit
            %li.side-header__box__menu__edit-user
              %a{:href => "/users/705/edit"}
                %i.fa.fa-cog
      .groups
        %a{:href => "/groups/1341/messages"}
          .group
            %p.group__group-name test
            %p.group__latest-message まだメッセージがありません
        %a{:href => "/groups/1237/messages"}
          .group
            %p.group__group-name 宣戦布告
            %p.group__latest-message テスト
        %a{:href => "/groups/1318/messages"}
          .group
            %p.group__group-name test
            %p.group__latest-message まだメッセージがありません
        %a{:href => "/groups/1317/messages"}
          .group
            %p.group__group-name sass
            %p.group__latest-message hofgggggg
