%body
  .flash-box
    .notice グループを作成しました
  .wrapper
    .chat-side
      .side-header
        .side-header__box
          %p.side-header__box__user-name akane
          %ul.side-header__box__menu
            %li.side-header__box__menu__new-group
              %a{:href => "/groups/new"}
                %i.fa.fa-edit
            %li.side-header__box__menu__edit-user
              %a{:href => "/users/705/edit"}
                %i.fa.fa-cog
      .groups
        %a{:href => "/groups/1341/messages"}
          .group
            %p.group__group-name test
            %p.group__latest-message まだメッセージがありません
        %a{:href => "/groups/1237/messages"}
          .group
            %p.group__group-name 宣戦布告
            %p.group__latest-message テスト
        %a{:href => "/groups/1318/messages"}
          .group
            %p.group__group-name test
            %p.group__latest-message まだメッセージがありません
        %a{:href => "/groups/1317/messages"}
          .group
            %p.group__group-name sass
            %p.group__latest-message hofgggggg
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group{"data-group_id" => "1344"}
          vvv
        %ul.main-header__left-box__member-list
          Member：
          %li.main-header__left-box__member-list__member akane
      %a{:href => "/groups/1344/edit"}
        .main-header__edit-btn Edit
    .messages
    .form
      %form#new_message.new_message{"accept-charset" => "UTF-8", :action => "/groups/1344/messages", :enctype => "multipart/form-data", :method => "post"}
        %input{:name => "utf8", :type => "hidden", :value => "✓"}/
        %input{:name => "authenticity_token", :type => "hidden", :value => "zTnTTynaVMT2vA8bHCyWrUI5a9VDb9+fsq3dnrhVgFEKsPt5u6afg8GV12D49tfOsNjW2f5ZVzxSapz1AA6How=="}/
        .input-box
          %input#message_content.input-box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
          %label.input-box__image{:for => "message_image"}
            %i.fa.fa-image
            %input#message_image.input-box__image__file{:name => "message[image]", :type => "file"}/
        %input.submit-btn{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/
