.wrapper

  = render '/side_bar'

  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group{data:{group_id: "1344"}}
          柴犬の集い
        %ul.main-header__left-box__member-list
          Member：
        %li.main-header__left-box__member-list__member akane
      = link_to edit_group_path(current_user) do
        .main-header__edit-btn Edit
    .messages
      .message{data:{message_id: "600"}}
        .message__upper-info
          %p.message__upper-info__talker 茶柴
          %p.message__upper-info__date 2019/09/12(Thu) 21:34:55
        %p.message__text 散歩したい散歩したい散歩したい
      .message{data:{message_id: "2542"}}
        .message__upper-info
          %p.message__upper-info__talker 飼い主
          %p.message__upper-info__date 2019/09/12(Thu) 21:45：56
        %p.message__text 散歩は明日な

    .form
      %form
        %input.form__message{name: "message[content]", placeholder:  "type a message", type: "text"}
        .form__box
          %label.input-box__image
            = fa_icon "image"
            %input.hidden{type: "file"}
        %input.form__submit{ type: "submit", value: "Send"}
