#chat-group-users
  .chat-group-user.clearfix.js-chat-member
    %li.list
      = user.name
      %a.user-search-remove.chat-group-user--btn.chat-group-user__btn--remove.js-remove-btn{type: "button"}削除
      = hidden_field_tag('group[user_ids][]',user.id)
